<div class="col-sm-8 blog-main">
  <h3><%= @blog.title %></h3>

  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <div class="blog-body">
    <p>
      <%= @blog.body %>
    </p>
  </div>
  <%= render 'comments/comment_form' %>

  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>
